.cajaA{
    background-color: white;
    height: 300px;
    width: 300px;
    margin: 0px;
    padding: 0px;
    border: 1px solid #000000;
    display: flex;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    

}

.cajaB{
    background-color: white;
    height: 300px;
    width: 300px;
    margin: 0px;
    padding: 0px;
    border: 1px solid #000000;
    display: flex;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;


}

.item{
    color:white;
    background-color: blue;
    height: 100px;
    font-size: 10px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
}

.item:first-child{
    background:red
}
.item:last-child{
    background:green
}

.cajaC{
    background-color: white;
    top: 10px;
    height: 100px;
    width: 600px;
    margin: 0px;
    padding: 0px;
    border: 1px solid #000000;
    display: flex;
    position: relative;
    display: flex;
    justify-content: space-between;
    /*flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;*/
}